<h2>Hello. I'm Mathieu</h2>
<p><img src="http://1.gravatar.com/avatar/3287bfbd98cdf98c7834677e25029214?size=128" alt="Mathieu Duponchelle" class="img-rounded floatLeft" />			
I am a student in computer science in Epitech Paris, currently a GSoC participant and a regular contributor to Gstreamer and PiTiVi.
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/MathieuDuponchelle" rel="me" class="social github" title="Go to github.com/MathieuDuponchelle" target="_blank"></a></li>
	</ul>
</p>
